*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: 'Times New Roman', Times, serif;
}

h3, h4, h5, h6 {
  font-size: 40px;

}

#root, #__next {
  isolation: isolate;
}